header{
    text-align: center;
}
#titulo{
    text-align: center;
}
#logo{
    max-width: 8%;
    
    
}
#textoTitulo{
    
}  



nav{
    margin-top: 9%;
}
nav li{
    display: inline;
    margin-left: 2%;
}
ul{
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}