header{
    display: inline;

}
#titulo{
    position: static;
    text-align: center;
}
#logo{
    position: relative;
    max-width: 8%;
}
#textoTitulo{
    
}  



nav{
    margin-top: 2%;
}
nav li{
    display: inline;
    margin-left: 2%;
}
ul{
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}